.DS_Store
/nbproject/
/.project
/qrc_bitcoin.cpp
/Makefile
/AtheistCoin-qt
/src/AtheistCoind
/src/leveldb/build_config.mk
/irc.log
/build/
/src/qt/locale/bitcoin_zh_CN.qm
/src/qt/locale/bitcoin_fr.qm
/src/qt/locale/bitcoin_ru.qm
/src/qt/locale/bitcoin_en.qm
/src/qt/locale/bitcoin_de.qm
/results.txt